In [8]:
import pandas as pd
df = pd.read_csv("/Volumes/T7/NAGATA-human/NAGATA/reverse_testing/Final_cluster.rev.bed",sep ="\t",header = None)
print(df)

,0,1,2,3,4,5,6,7,8,9,10,11,TSS,most_abund_TSS
0,chr1,565028,565348,c902aad7-43c4-4af4-9b3b-d492c58b56cb,0,+,565028,565348,"255,0,0",1,320,0,565028,565005
1,chr1,565029,565589,e5a7c377-b669-41c8-b5ae-c2f91a1b0999,1,+,565029,565589,"255,0,0",1,560,0,565029,565005
2,chr1,565029,565568,578927f7-7080-4c3a-8d13-2dd89d2ea6ae,1,+,565029,565568,"255,0,0",1,539,0,565029,565005
3,chr1,565029,565388,c17c06ed-4f6a-4e06-88b3-c8cc2b39aeac,0,+,565029,565388,"255,0,0",1,359,0,565029,565005
4,chr1,565029,565438,5bfa3461-e0a7-4f0a-b8aa-b20f4a01b5b5,1,+,565029,565438,"255,0,0",1,409,0,565029,565005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62676,chr1,246887724,246930773,8fb160a6-266f-4a2d-bf7f-721fe555dd1e,60,+,246887724,246930773,"255,0,0",12,"190,104,81,130,50,131,118,120,57,112,82,277","0,2469,11552,15749,19653,33803,34611,35534,357...",246887724,246887674
62677,chr1,246887724,246930773,0ff891f3-4317-4550-97bd-2cac4034dbe7,60,+,246887724,246930773,"255,0,0",11,"190,113,81,172,131,118,120,57,112,82,277","0,2469,11552,15749,33803,34611,35534,35748,398...",246887724,246887674
62678,chr1,246887724,246930773,7cc6f9e6-b9fe-4406-8495-ce3a8b358035,60,+,246887724,246930773,"255,0,0",12,"190,113,81,130,50,131,118,120,57,112,82,277","0,2469,11552,15749,19653,33803,34611,35534,357...",246887724,246887674
62679,chr1,246887724,246930767,dac3285d-87f4-48eb-a28d-7bcf607ec05e,60,+,246887724,246930767,"255,0,0",12,"190,113,81,130,50,131,118,120,57,112,82,271","0,2469,11552,15749,19653,33803,34611,35534,357...",246887724,246887674
62680,chr1,246887724,246927651,1922841b-4d13-4408-97ea-1f5befd47c17,60,+,246887724,246927651,"255,0,0",10,"190,113,81,130,50,131,118,120,57,104","0,2469,11552,15749,19653,33803,34611,35534,357...",246887724,246887674